* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.split{
    display: grid;
    grid-template-columns: 1fr 4fr;
}


.dashboard{
    display: grid;
    background-color: aqua;
    height: 100vh;
}

.main{
    display: grid;
    background-color: grey;
    height: 100vh;
}

.head{
    display: grid;
    background-color: white;
    height: 10vh;
}
#header-text{
    margin: 0;
}