* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.split{
    display: grid;
    grid-template-columns: 1fr 4fr;
}


.dashboard{
    display: grid;
    grid-template-rows: 0.5fr 2fr 2fr;
    background-color: #008CBA;

}
#dashboard-title{
    font-size: 2em;
    text-align: center;
    padding: 20px;
}

.buttons-set{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.button{
    background-color: #008CBA;
    height: 2em;
    border: none;
    outline: none;
}
button:hover {
  background-color: #005977; /* Blue */
  transform: scale(1.05); 
}



.main{
    display: grid;
    grid-template-rows: 0.5fr 2fr;
    background-color: grey;
    height: 100vh;
}
.head {
    background-color: white;
    padding: 10px 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);

}

.top-1 {
    display: flex;
    flex-direction: row;
    margin-top: 10px
}


.top-bar-1 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
    flex: 1;
}

#myInputBar{
    width: 50rem;
    height: 30px;
}
.top-bar-2 {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 30px;
}


.top-2{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.Profile{
    display: flex;
    flex-direction: row;
    flex: 1;  /* takes remaining space */
    margin-left: 30px; 
}
.Name{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#hi-there{
    font-weight: bold;
    font-size: small;
}


#Person-Name{
    font-weight: bold;
    font-size: 30px;
}

.button-use{
    display: flex;
    gap: 20px;
    margin-right: 1.5rem;
    flex: 0 0 auto; /* fixed size, content-based */
}


.use-button {
    width: 100px;
    height: 36px;
    font-size: 14px;
    border-radius: 50px;
    background-color: #008CBA;
    color: aliceblue;
    flex-shrink: 0;
}





.board{
    display: grid;
    background-color: rgb(246, 243, 243);
    grid-template-columns: 3fr 1fr;
}