* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.split{
    display: grid;
    grid-template-columns: 1fr 4fr;
}


.dashboard{
    display: grid;
    grid-template-rows: 0.5fr 2fr 2fr;
    background-color: #008CBA;

}
#dashboard-title{
    font-size: 2em;
    text-align: center;
    padding: 20px;
}

.buttons-set{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.button{
    background-color: #008CBA;
    height: 2em;
    border: none;
    outline: none;
}
button:hover {
  background-color: #005977; /* Blue */
  transform: scale(1.05); 
}



.main{
    display: grid;
    background-color: grey;
    height: 100vh;
}

.head{
    display: grid;
    background-color: white;
    height: 10vh;
}
#header-text{
    margin: 0;
}